@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,700&display=swap");

body {
  margin: 0;
  font-family: Cabin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--colorBackground);
  color: var(--colorAccent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --colorPrimaryDark: #0E151D;
  --colorPrimaryLight: #FFFFFF;
  --colorBackground: #0E151D;
  --colorAccent: #FFE81F;
  --colorBorder: #FFE81F;
  --gutter: 0 16px;
  --border: 1.5px solid var(--colorBorder);
  --radius: 5px;
}